/* 
темный цвет основного текста #212121
светлый цвет основного текста #757575
светлый дополнительный цвеn текста #FFFFFF 
*/


/* задаем глобальный border-box */
/* Для того,
чтобы не задавать свойство box-sizing каждому элементу отдельно в 
самом начале файла стилей используется следующий CSS-код. */

/* В нормализаторе modern-normalize по умолчанию задан глобальный border-box,
поэтому в своих стилях его можно не указывать. */

/* html {
    box-sizing: border-box;
} */

/* Используя универсальный селектор *,
значение border-box устанавливается для всех элементов
 и псевдоэлементов на странице*/

/* *,
*::before,
*::after {
    box-sizing: inherit;
} */

/* переменные с нашими color */
:root {
    --main-dark-clr: #212121;
    --main-gray-clr: #757575;
    --main-white-clr: #FFFFFF;
}

body {
    margin: 0;
    font-family: 'Roboto', 'Raleway', sans-serif;
    color: #212121;
}

/* сброс маркированых точек в списках */
.list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* reset */
h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

/* общий класс для всей страницы */
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}


/* делаем все изображения блочными, тем самым убирая нижний отступ  */
img {
    display: block;

    /* (делаем резиновым изображение) */
    max-width: 100%;
    height: auto;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

/*---------------------- section header----------------- */

.nav-menu {
    display: flex;
    margin-right: 310px;
}

.header .header-container {
    margin-bottom: 0;
}


/* работаем с nav menu, убираем маржен крайнему элементу, есть несколько вариантов: */
/* вариант 1, все li кроме последнего*/
.nav-menu .item:not(:last-child) {
    margin-right: 50px;
}

/* вариант 2 (old school): через + (соседство элементов) */
/* .nav-menu .item+.item {
    margin-left: 50px;
} */

.nav-link,
.nav-contacts-link {
    display: flex;
    gap: 10px;
}

/* .nav-contacts .item:not(:last-child) {
    margin-right: 50px;
} */

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
    margin-right: 93px;
}

.logo-letter {
    color: #2196F3;
}

.link {
    text-decoration: none;
}

.header .nav-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: #212121;
}

/* добавляем нижнюю черточку под ссылкой */
.nav-link {
    position: relative;
}

.nav-link.current::after {
    content: '';

    /* вынимаем этот элемент из потока */
    position: absolute;
    bottom: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196F3;
}

.nav-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;

    /* задаем переходы для состояния ховер/фокус */
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
    color: #2196F3;
}

.nav-contacts {
    display: flex;
    gap: 30px;
    margin-left: 0;
    align-items: center;

}

.nav-contacts-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: var(--main-gray-clr);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-link:hover,
.nav-contacts-link:focus {
    color: #2196F3;
}

.button-icon {
    width: 16px;
    height: 16px;
    fill: #757575;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-contacts-link:hover .button-icon,
.nav-contacts-link:focus .button-icon {
    fill: #2196F3;
}

.nav-menu .link.current {
    color: #2196F3;
}

.header .container {
    display: flex;
    align-items: center;
}

.icon-item .button {
    border: none;
    padding: 0;
}

.nav-item {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 32px;
    padding-bottom: 32px;
}


/* линия */
.header {
    max-width: 1600px;
    background-color: var(--main-white-clr);
    border-bottom: 1px solid #ECECEC;
    margin: 0 auto;
    padding: 0;
}

/* ---------секция Hero, с основным заголовком---------------------- */

.hero {
    max-width: 1600px;
    min-height: 600px;
    margin: 0 auto;
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

/* добавляем изображение для hero с дополнительным слоем градиента*/
.hero-image {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url("../images/main/imgoverlay.png"),
        url("../images/main/hero-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-clip: border-box; */
    /* background-attachment: fixed; paralax effect  */
}

.hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60 / 44);
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--main-white-clr);
    text-align: center;
}

.hero-button {
    min-width: 216px;
    min-height: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    letter-spacing: 0.06em;
    color: var(--main-white-clr);
    cursor: pointer;
    padding: 10px 32px;

    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0;
}

.hero-button:active {
    background-color: #188CE8;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}



/* -------------секция наши преимущества (benefits)------------------ */
.benefits-list {
    display: flex;
    padding: 0;
}

.benefits-list .item:not(:last-child) {
    margin-right: 30px;
}

.benefits-title {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-dark-clr);
    padding: 0 0 10px;
}

.benefits-title,
.benefits-text {
    margin-top: 0;
    margin-bottom: 0;

}

.benefits-text {
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: var(--main-gray-clr);
}

.container-logo {
    width: 270px;
    min-height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits-item {
    width: 270px;
}

/* --------------------секция "чем мы занимаемся"----------------- */
.section.work {
    padding-top: 0;
}

.work-list {
    display: flex;
    justify-content: space-between;
}


.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
    letter-spacing: 0.03em;
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
}

.work-item {
    position: relative;
}

.work-row {
    position: absolute;
    left: 0;
    bottom: 0;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);

}

.work-text {
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-clr);
}


/* --------------------секция "наша команда"----------------------- */
.team {
    background-color: #F5F4FA;
}

.team-list {
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.team-item {
    width: 270px;
    height: 428px;
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.card-title {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.03em;

    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(19 / 16);
    color: var(--main-gray-clr);

    margin-top: 0;
    margin-bottom: 16px;
    text-align: center;
}

.icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: #AFB1B8;
    border-radius: 50%;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-link:hover,
.icon-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.icon-svg {
    fill: currentColor;

}



/* -------------------секция "постійні клієнти"-------------------- */
.clients-list {
    display: flex;
    gap: 30px;
}

.clients-item {
    display: flex;
    width: 170px;
    height: 92px;
    align-items: center;
    justify-content: center;

    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition-property: border-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #AFB1B8;
    padding: 15px 30px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-item:hover {
    border-color: #2196F3;
}

.clients-link:hover,
.clients-link:focus {
    color: #2196F3;
}

.clients-logo {
    fill: currentColor;
}


/* -----------------------страница портфолио----------------------------- */

/* спрятанная секция h1 в портфолио */
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}


/* кнопки фильтров */
.filters-list {
    display: flex;
    justify-content: center;
    margin-bottom: 34px;
}

.filter-item {
    margin-right: 8px;
}

.filter-item:last-child {
    margin-right: 0;
}

.filter-button {
    padding: 6px 22px;
    margin: 0;
}

.button {
    display: block;
    font-family: 'Roboto';
    font-style: normal;
    color: var(--main-dark-clr);
    background-color: #F5F4FA;
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
    cursor: pointer;
    border: 0;
    border-radius: 4px;
    text-align: center;
    margin: 0;

    transition-property: color, background-color, border-color, box-shadow, border-radius;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover,
.button:focus {
    background-color: #2196F3;
    color: var(--main-white-clr);
    border-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}



/* -----------------секция с 9 карточками----------------------- */

/* создаем сетку из 9 элементов */
.flex-container {
    display: flex;
    flex-wrap: wrap;
}

/* ширину лучше задать фунцией calc, так как она позволяет автоматически подстравиаться под изменение ширины страницы
calc((100% - кол-во маржинов в строке * значение марижина) / кол-во элементов в строке */
.flex-element {
    display: block;
    width: calc((100% - 2 * 30px) / 3);
    text-align: left;
    margin-right: 30px;
    margin-bottom: 30px;
    /* border: 1px solid #EEEEEE; */
    border-top: 0;
}

/* мы не можем применить justify-content: space-between, так как если в сетке будет к примеру 5 єлементов, то один ряд будет с дыркой */

/* для каждого 3 элемента в сетке убираем правый маржин */
.flex-element:nth-child(3n) {
    margin-right: 0;
}

/* убираем нижний маржин у последних 3х элементов сетки */
.flex-element:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.card {
    display: block;
    background-color: #FFFFFF;
    text-decoration: none;

    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.card:hover,
.card:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
        0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
}

.subtitle {
    color: var(--main-dark-clr);
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
    margin: 0 0 4px;
}

.subtitle-text {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(30 / 16);
    color: var(--main-gray-clr);
    margin: 0;
}

.flex-text {
    padding: 20px 24px;
    border: 1px solid #EEEEEE;
    border-top: 0;
}


/* добавляем выпадающее меню overlay для карточек */
.overlay-box {
    width: 370px;
    height: 294px;
    position: relative;
    overflow: hidden;
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .overlay-box:hover .overlay */
.card:hover .overlay {
    transform: translateY(0);
}

.overlay {
    display: flex;
    align-items: center;

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    transform: translateY(100%);
    background-color: rgba(33, 150, 243, 0.9);

    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-text {
    font-size: 18px;
    line-height: calc(28 / 18);
    letter-spacing: 0.03em;
    color: var(--main-white-clr);
    padding: 63px 24px;
}

/* -------------секция footer--------------- */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer .footer-container {
    margin-bottom: 0;
}

.footer-list>.item {
    margin-bottom: 9px;
}

.footer-list>.item:first-child {
    margin-top: 20px;
}

.footer-logo {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
    color: var(--main-white-clr);
}

.footer-list-adress {
    font-family: inherit;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: var(--main-white-clr);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
    color: rgba(255, 255, 255, 0.6);

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
    color: #2196F3;
}

.footer-list-adress:hover,
.footer-list-adress:focus {
    color: #2196F3
}

.footer-text {
    color: var(--main-white-clr);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-container {
    display: flex;
    gap: 70px;
}

.footer-links-container {
    margin-top: 12px;
}

.footer-icon-list {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.footer-icon-link {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 44px;
    height: 44px;

    color: #FFFFFF;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-link:hover,
.footer-icon-link:focus {
    color: #FFFFFF;
    background-color: #2196F3;
}

.footer-icon-svg {
    fill: currentColor;
}

.footer-form-container {
    margin-left: 23px;
}

.footer-form-container-text {
    display: inline-block;
    font-weight: 700;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white-clr);

    margin-top: 12px;
    margin-bottom: 20px;
}

.footer-form-input {
    width: 358px;
    height: 50px;
    padding: 15px 295px 15px 16px;
    margin-right: 12px;

    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: var(--main-white-clr);
}

.footer-form-input:focus-visible {
    outline: inherit;
}

.footer-form-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: calc(20 / 16);
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-form-container-form {
    display: inline-flex;
}

.footer-form-btn {
    display: inline-flex;
    width: 200px;
    height: 50px;
    padding: 10px 28px;
    border: 0;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    color: var(--main-white-clr);
    cursor: pointer;

    align-items: center;
    justify-content: center;

    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.footer-form-btn::after {
    content: "";
    width: 24px;
    height: 24px;
    margin-left: 10px;
    background-image: url(../images/icons/foot-icon-send.svg);
}

/* ---------------- модальное окно --------------------- */

.backdrop {
    position: fixed;
    top: 0;
    z-index: 1;

    width: 100%;
    height: 100%;

    visibility: is-hidden;

    background-color: rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;

    transition-property: opacity, visibility;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    /* позицуионируем модальное окно по центру */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    /* ---------------------------------------------------- */

    width: 528px;
    min-height: 581px;

    background-color: var(--main-white-clr);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.modal-btn {
    /* центрируем иконку в бордере */
    display: flex;
    align-items: center;
    justify-content: center;
    /* --------------------------------------- */
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;

    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);

    margin: 7px 8px 0 0;
    padding: 0;

    cursor: pointer;

}

.modal-btn-icon {
    fill: #000000;

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-btn-icon:hover,
.modal-btn-icon:focus {
    fill: #2196F3;
}

.modal-title {
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: calc(23 / 20);
    margin-bottom: 12px;
    color: var(--main-dark-clr);
}

.modal-form-label {
    display: block;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: var(--main-gray-clr);
    margin-bottom: 4px;
}

.modal-form-group {
    position: relative;
}

.modal-form-field {
    width: 448px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    padding-left: 42px;
    padding-right: 42px;
    margin-bottom: 10px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-field:hover,
.modal-form-field:focus {
    border: 1px solid #2196F3;
}

.modal-form-field:hover+.modal-form-icon,
.modal-form-field:focus+.modal-form-icon {
    fill: #2196F3;
}

.modal-form-icon {
    position: absolute;
    left: 12px;
    top: 40%;
    transform: translateY(-50%);

    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* -- чек-бокс -- */
.modal-form-agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;

}

/* стилизируем кнопку чекбокса */
.modal-form-checkbox {
    /* прячем кнопу от браузера "appearance: none;" */
    appearance: none;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
}

.modal-form-checkbox:checked {
    background-color: #2196F3;
    background-image: url(../images/icons/modal-chek.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.modal-form-agreement-text {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    user-select: none;
}

.modal-form-link {
    color: #2196F3;
}

.modal-form-text {
    padding: 12px 16px;
    font-size: 12px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 20px;

    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form-text::placeholder {
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    color: rgba(117, 117, 117, 0.5);
}

.modal-form-text:hover,
.modal-form-text:focus {
    border: 1px solid #2196F3;
}

textarea {
    width: 448px;
    height: 120px;
    resize: none;
}

.modal-form-text:focus-visible {
    border: 1px solid #2196F3;
    outline: 0;
}

.button-form {
    display: block;
    width: 200px;
    height: 50px;
    color: var(--main-white-clr);
    margin-bottom: 40px;
    cursor: pointer;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin: 0 auto;
    padding: 10px 52px;
    border: none;

    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover {
    background-color: #188CE8;

}